.form-todo {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .control {
        &.transparent {
            input, textarea {
                width: 100%;
                border: 0;
                background-color: transparent;
                padding: .375rem .75rem;
                &:hover, &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }
    .form-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}