<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <ion-list lines="full" class="wrap-list">
      <ion-item *ngFor="let task of $tasks | async">
        <ion-label slot="start" (click)="changeTask(task)" class="item-name">{{task?.name}}</ion-label>
        <ion-checkbox slot="end" color="success" [checked]="task?.isFinished" (click)="updateStatus($event, task)"></ion-checkbox>
      </ion-item>
      <ion-item lines="none" class="item-add" (click)="changeTask()">
        <ion-icon name="add" slot="start"></ion-icon>
        <ion-label>Add</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
